

<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea required name="description" id="description" class="form-control" rows="2" cols="30">
        <%= article.description %>
    </textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control" rows="6" cols="30">
        <%= article.title %>
    </textarea>
</div>


<div class="mb-10 mt-10">
    <a href="/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

